@font-face {
	font-family: "Font Digital";
	src: url('../../../../font/BpmonlineOpenSans-Light.woff');
}
@font-face {
	font-family: "Font Digital2";
	src: url('../../../../font/BpmonlineOpenSans.woff');
}

.container{
	width: 100%;
	height: 80%;
	border-radius: 0 0 0px 0px;
	font-family: "Font Digital2";
}

/* judul highchart */
.container-title{
	border-radius: 0px 0px 0 0;
	background-color: #6483c3;
	padding: 2px 0px 2px 0px;
	font-size: 20px;
	color: #ffff;
	font-family: "Font Digital2";
	width: 100%;
	height: 20%;
}

/* body highchart */
#body-highchart{
	background-color: #FFF;
	min-height: 400px;
}

/* form bulan dan tahun */
.form-highchart{
	font-family: "Font Digital2";
	font-size: 20px;
	color: #5c5c57;
	padding-top: 10px;
	padding-right: 10px;
    padding-left: 10px;
    background-color: #FFF;
}

/* detail highchart/ list detail */
.container-detail{
	width: 100%;
	height: 500px;
	border-radius: 0 0 0px 0px;
	font-family: "Font Digital2";
    background-color: #FFF;
  	overflow-y: scroll; /* has to be scroll, not auto */
  	-webkit-overflow-scrolling: touch;
}

#total-detail{
    font-family: "Font Digital2";
	font-size: 14px;
	color: #5c5c57;
    padding-left: 10px;
}

.table-detail {
    border-collapse: collapse;
    width: 100%;
	font-family: "Font Digital2";
	font-size: 14px;
	color: #5c5c57;	
}

.table-detail th {
	text-align: left;
	padding: 8px;
	border-bottom: 1px solid #e0e0e0;
	color: #8d8d8d;
	font-family: "Font Digital2";
	font-size: 14px;
	font-weight: 500;
}

.table-detail td {
    text-align: left;
    padding: 8px;
}

.table-detail tr:nth-child(even){
	background-color: #f7f7f7;
}

/* style untuk pie donat */

/* span data donat */
.data-donat{
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* container chart donat */
.container-donat{
	height: 250px;
	width: 50%;
	float: left;
	margin: auto;
}

.bawah{
	margin-top: 250px;
}

@media only screen and (max-width: 768px){
	.container-donat{
		height: 250px;
		width: 100%;
		float: left;
		margin: auto;
	}

	.bawah{
		margin-top: 0px;
	}
}

@media only screen and (max-width: 500px) {
	.container-donat{
		height: 250px;
		width: 100%;
		float: left;
		margin: auto;
	}

	.bawah{
		display:none;
	}
}